@using Proj1.Sevices;
@model User
@inject QuestionService QuestionsService

<h1>Profile</h1>

@*
<div class="center"></div>
<div class="nima">
<img class="rounded-circle shadow-lg"     width="250" height="250"  src="@Model.PhotoPath"/>
</div>
<div class="text-center">
<h3>Name: @Model.Name</h3>
<h3>UserName: @Model.Username</h3>
<h3>Password: @Model.Password</h3>
</br>
</div>


<a class="btn btn-danger" asp-action="LogOut"> Log Out</a>
</br></br></br>
<a class="btn btn-danger" asp-action="ChangeName">Change Name</a>
<a class="btn btn-danger" asp-action="ChangePhoto">Change Photo</a>
</br></br></br>
<a class="btn btn-danger" asp-action="ChangeUserName">Change Username</a>

<a class="btn btn-danger" asp-action="ChangePassword">Change Password</a>
</br>
</br>*@


<div class="d-flex justify-content-center" style="flex-wrap:wrap;">

    <div class=" row g-2 col-md-7" style="border-radius: 25px;
    margin-top: 1rem;
    padding: 3rem;
    box-shadow: 0 0rem 3rem rgba(8,7,16,0.6)!important;">
    <div class="card-body" style="width: 8%">
        <div class="center"></div>
        <div class="nima">
            <img class="rounded-circle shadow-lg" width="250" height="250" src="@Model.PhotoPath" />
        </div>
        <div class="text-center">
            <h3>Name: @Model.Name</h3>
            <h3>UserName: @Model.Username</h3>
            <h3>Password: @Model.Password</h3>
        </div>
        <a class="btn btn-danger" asp-action="LogOut"> Log Out</a>
        </br></br></br>
        <a class="btn btn-danger" asp-action="ChangeName">Change Name</a>
        <a class="btn btn-danger" asp-action="ChangePhoto">Change Photo</a>
        </br></br></br>
        <a class="btn btn-danger" asp-action="ChangeUserName">Change Username</a>

        <a class="btn btn-danger" asp-action="ChangePassword">Change Password</a>
        </br>
        </br>

            <h1>Total Correct Answers : @Model.Tickets.Sum(t=>t.CorrectCount) / @QuestionsService.Questions.Count</h1>
            <h1>TotalFinishedTickets: @Model.Tickets.Count(t=>t.IsCompleted) / @QuestionsService.TicketsCount</h1>
                         
                            
                         
                            
                            
                                       
                                 <span >Joined May,2021</span> 
                                            
       </div>                             
        </div> 
    
</div>
<style>

</style>



@{
    var lastweek = Model.Tickets
        .Where(t => t.Date > DateTime.Now.AddMinutes(-2))
        .Sum(t => t.CorrectCount);
}

<h1>Last week : @lastweek</h1>

@{
    var ticket = Model.Tickets.MaxBy(t => t.Date);
}
<div class="d-flex justify-content-center" style="flex-wrap:wrap;">

    <div class=" row g-2 col-md-2" style="border-radius: 25px;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 0rem 3rem rgba(8,7,16,0.6)!important;">
    <div class="card-body" style="width: 13%">
         <img src="/Image/A1.jpg" class="card-img-top" alt="RASM">
        <h2 class="card-title">Ticket @(ticket.Id + 1)</h2>

            @if (ticket.Answers.Count > 0)
            { 
                <h5 class="card-text">@ticket.CorrectCount / @ticket.QuestionsCount</h5>
                <h5 class="card-text">@ticket.Date.ToString("f")</h5>
            }

        <a asp-controller="Tickets" asp-action="StartTicket" asp-route-ticketIndex="@ticket.Id" class="btn btn-primary">Start</a>
    </div>
</div>



</div>


<br/>

<br/>



<h1>Ticket Results</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ticket Index</th>
        <th scope="col">Correct Count</th>
        <th scope="col">Question Count</th>
    </tr>
    </thead>
    <tbody>
    
        @for (int i=0; i < Model.Tickets.Count; i++)
        {
            var ticketResult = Model.Tickets[i];

            <tr>
                <th scope="row">@(i+1)</th>
                <td>@(ticketResult.Ticket_Id + 1)</td>
                <td>@ticketResult.CorrectCount</td>
                <td>@ticketResult.QuestionsCount</td>
            </tr>
        }

    </tbody>
</table>