@model User

<div class="center"></div>
<h1>Profile</h1>
<div class="nima">
<img class="rounded-circle"  width="250" height="250"  src="@Model.PhotoPath"/>
</div>
<div class="text-center">
<h3>Name: @Model.Name</h3>
<h3>UserName: @Model.Username</h3>
<h3>Password: @Model.Password</h3>
</br>
</div>


<a class="btn btn-outline-danger" asp-action="LogOut"> Log Out</a>
</br></br></br>
<a class="btn btn-outline-danger" asp-action="ChangeName">Change Name</a>
<a class="btn btn-outline-danger" asp-action="ChangePhoto">Change Photo</a>
</br></br></br>
<a class="btn btn-outline-danger" asp-action="ChangeUserName">Change Username</a>

<a class="btn btn-outline-danger" asp-action="ChangePassword">Change Password</a>
</br>
</br>

<h1>Ticket Results</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ticket Index</th>
        <th scope="col">Correct Count</th>
        <th scope="col">Question Count</th>
    </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.TicketResults.Count; i++)
        {
            var ticketResult = Model.TicketResults[i];

            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@ticketResult.TicketIndex</td>
                <td>@ticketResult.CorrectCount</td>
                <td>@ticketResult.QuestionCount</td>
            </tr>
        }

    </tbody>
</table>
