@model User

<h1>Tickets</h1>



<div class="row col-lg-12 col-md-12 col-sm-12 gap-3 d-flex justify-content-center">
    @foreach (var ticket in Model.Tickets)
    {
        

            <div class="card" style="width: 11%;">
              <img src="/Image/A1.jpg" class="card-img-top" alt="RASM">
          <div class="card-body">
                 <h5 class="card-title">Ticket @(ticket.Index + 1)</h5>
                <div class="card-text">

                                  <p class="card-text">@ticket.CorrectCount / @ticket.QuestionsCount</p>
                            <p class="card-text">@ticket.Date.ToString()</p>
                    </div>
                    <a asp-controller="Tickets" asp-action="StartTicket" asp-route-ticketIndex="@ticket.Index">Start</a>
          </div>
        </div>
    }


