@model User

<h1>Tickets</h1>



<div class="row col-lg-12 col-md-12 col-sm-12 gap-3 d-flex justify-content-center">


    @for (var i = 0; i < Model.Tickets.Count; i++)
    {
        var ticket = Model.Tickets[i];

        <div class="card" style="width: 15%;">
            <img src="/Image/A1.jpg" class="card-img-top" alt="RASM">
            <div class="card-body">
                <h4 class="card-title">Ticket @(i + 1)</h4>

                @if (ticket.Answers.Count > 0)
                {
                    
                    <p class="card-text">@ticket.CorrectCount / @ticket.QuestionsCount</p>
                    <p class="card-text">@ticket.Date.ToString("f")</p>
                }

                <a class="btn btn-primary" asp-controller="Tickets" asp-action="StartTicket" asp-route-ticketIndex="@ticket.Ticket_Id">Start</a>
            </div>
        </div>
    }
    </div>

