@using AutoTestBot.Models;
@{
    if (ViewBag.IsSuccess == true)
    {
        QuestionModel question = ViewBag.Question;
       

        <div class="buttonCenter">  @for (int i = 0; i < 10; i++)
        {
            <a asp-controller="Questions" asp-action="GetQuestionById" asp-route-Id="@(i+1)"  class=" number btn btn-primary">@(i+1)</a>
        }
        
        </div>
        
        
        <br/>
        <br/>
        
    
        if (question.Media.Exist)
        {
          
           var imageLink = $"/autotest/{question.Media.Name}.png";

            <img src=@imageLink class="center" />
            
            
        }
        <br/>
        <br/>
        <br/>;
        <h1>@question.Id. @question.Question</h1><br/>
        bool isSuccess = false;
        for(int i = 0; i < question.Choices.Count; i++)
        {
            var bg = "";
            if(ViewBag.IsAnswer==false)
            {
               
                <a asp-controller="Questions" asp-action="GetQuestionById" asp-route-Id="@question.Id" asp-route-choiceIndex="@i" >
                       <h4>@(i + 1). @question.Choices[i].Text</h4> 
                </a>
            }
            else
            {
                
                if (question.Choices[i].Answer)
                {
                    bg = "background-color:chartreuse";
                }

                if (i == ViewBag.ChoiceIndex)
                {
                    if (ViewBag.Answer == false)
                    {
                        bg = "background-color:red";
                    }
                   
                }
                <h4 style="@bg">@(i + 1). @question.Choices[i].Text</h4>  


                
            }

            <br/>
        }



        if (ViewBag.IsAnswer)
        {
            <a asp-controller="Questions" asp-action="GetQuestionById" asp-route-id="@(question.Id+1)" class="btn btn-primary">Next</a>
            ;
        }
    }
    else
    {
        <h1>Not Found</h1>
        <h3>Id: @ViewBag.QuestionId</h3>
    }

}

